* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background: darkcyan;
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;

  transition: background 0.3s ease-in-out;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  outline: none;

  transition: background 0.3s ease-in-out;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.view-space {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 25%;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  animation: view-spase 2s ease-in-out infinite;
}

@keyframes view-spase {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.view-copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 50%;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0;
  transition: all 1s ease-in-out;
}